<%- include("partials/header")%>
<%- include("partials/nav")%>
<link rel="stylesheet" href="/stylesheets/create.css">
<div class="pg1">
    <h3><u>REGISTRATION PAGE</u> </h3>
    <form action="/create" method="post">
       <input  type="text" name="id" placeholder="ID"> <br>
        <input type="text" name="title" placeholder="Title"> <br>
        <textarea name="description"  cols="35" rows="7" placeholder="Description"></textarea> <br>
        <input class="date" type="date" name="date" placeholder="Date"> <br>
        <button>Submit</button>


    </form>
</div>





<%- include("partials/footer")%>


  
