<%- include("partials/header")%>
<%- include("partials/nav")%>
<link rel="stylesheet" href="/stylesheets/home.css">
<div class="pg1">
    <div class="content">
        <h1>TODO List</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae quos blanditiis ducimus dolores cum nostrum, perferendis, inventore itaque eaque impedit iure facere qui consequatur eveniet veritatis ipsa hic aperiam sint!</p>
        <button>Explore More</button>
    </div>

</div>




<%- include("partials/footer")%>


  
