*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.pg1{
    height: 90vh;
    width: 100%;
    background-image: url("https://media.istockphoto.com/id/1285082518/photo/tablet-with-paper-clip-to-do-list-3d-illustration-3d-rendering.webp?b=1&s=170667a&w=0&k=20&c=3fkWHK80VqM2Yg5Hfj_iaciXnXhPRjQMCCgNL9uLKwA=");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding: 0 4vmax;
}
.content{
    height: 45vh;
    width: 30vw;
    /* border: 2px solid black; */
    text-align: center;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vmax;
}
p{
 text-align: center;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 1.2vmax;
 margin-top: 0.7vmax;
}
button{
    margin-top: 2vmax;
    padding: 0.8vmax 1vmax;
    font-size: 1.4vmax;
    border-radius: 0.5vmax;
    border: none;
    font-weight: bold;
    background-color: black;
    color: white;
    transition: all ease 1s;
}
button:hover{
    color: black;
    background-color: white;
    transform: translateY(5px);
    cursor: pointer;
}